*{
    padding: 0px;
    margin: 0px;

}
main{
    background-image: url("naruto2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;

}
.wrapper-main button{
    background-color: yellow;
    height: 50px;
    width: 200px;
    border: none;
}